<%= link_to 'Back to phones list', phones_path %>

<h3>
  <%= @phone.name %>
  <%= link_to edit_phone_path(@phone) do %>
    <span class="glyphicon glyphicon-edit"></span>
  <% end %>
</h3>

<img src="<%= @phone.photo_url %>" class="phone_image">

<p>
  <strong>Network:</strong>
  <%= @phone.network %>
</p>

<p>
  <strong>Features:</strong>
  <%= @phone.features %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @phone.weight %>
</p>

<p>
  <strong>Size:</strong>
  <%= @phone.size %>
</p>

<p>
  <strong>Akkum:</strong>
  <%= @phone.akkum %>
</p>

<p>
  <strong>Limited:</strong>
  <%= @phone.limited %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @phone.notes %>
</p>

<%= link_to 'Add to collection', new_user_users_phones_path(user_id: current_user.id, phone_id: @phone.id) if signed_in? %><br><br>
<%= link_to 'Edit', edit_phone_path(@phone) %>