<h1>Listing user_phone_pictures</h1>

<table>
  <thead>
    <tr>
      <th>User phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_phone_pictures.each do |user_phone_picture| %>
      <tr>
        <td><%= user_phone_picture.user_phone_id %></td>
        <td><%= link_to 'Show', user_phone_picture %></td>
        <td><%= link_to 'Edit', edit_user_phone_picture_path(user_phone_picture) %></td>
        <td><%= link_to 'Destroy', user_phone_picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User phone picture', new_user_phone_picture_path %>
