<p id="notice"><%= notice %></p>

<p>
  <strong>User phone:</strong>
  <%= @user_phone_picture.user_phone_id %>
  <%= image_tag @user_phone_picture.picture.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_user_phone_picture_path(@user_phone_picture) %> |
<%= link_to 'Back', user_phone_pictures_path %>
