<h3>Collection of <%= @user.email %></h3>

<table id="user_phones_list">
  <thead>
    <tr>
      <th class="sort" data-sort="phone">Phone</th>
      <th class="sort" data-sort="condition">Condition</th>
      <th class="sort" data-sort="type">Type</th>
      <th class="sort" data-sort="selling">Selling</th>
      <th colspan="2">
        <input type="text" class="search" placeholder="Search phone" />
      </th>
    </tr>
  </thead>

  <tbody class="list">
    <% @users_phones.each do |users_phone| %>
      <tr>
        <td class="phone"><%= link_to users_phone.phone.name, user_users_phone_path(@user, users_phone) %></td>
        <td class="condition"><%= users_phone.condition %></td>
        <td class="type"><%= users_phone.phone_type %></td>
        <td class="selling"><%= users_phone.selling %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users phone', new_user_users_phones_path(current_user) if @user==current_user %>
