<!DOCTYPE html>
<html>
<head>
  <title>Siemens Collection</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="left">
      <h4 class="left"><%= link_to "Siemens Collection", root_path %></h4>
      <div class="menu left">
        <%= link_to "collections list", collections_list_users_path %>
      </div>
    </div>
    <div class="right">
      <% if signed_in? %>
        <%= current_user.email %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </div>
  </header>

  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
