<!DOCTYPE html>
<html>
<head>
  <title>Siemens Collection</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h4><%= link_to "Siemens Collection", root_path %></h4>
  </header>

  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
